@font-face {
    font-family: 'poppins';
    src: url('fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'opensans';
    src: url('fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
}

body {    
    background-color: hsl(257, 40%, 49%);
    color: white; 
    padding: 38px;      
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'poppins', sans-serif;
}

p {
    font-family: 'opensans', sans-serif;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


    header {
        margin-bottom: 64px;
    }

    main {
        text-align: center;
    }

    .hero-image{
        max-width: 100%;
        margin-bottom: 60px;
    }

    .body-copy h1 {
        font-size: 24px;
        line-height: 37px;
        letter-spacing: -0.2px; 
        margin-bottom: 6px;       
    }    

    .body-copy p {
        font-size: 16px;
        margin-bottom: 32px;
    }

    .button {
        background-color: white;
        padding: 10px 76px;               
        font-family: 'poppins', sans-serif;
        font-size: 12px;
        text-decoration: none;
        color: hsl(257, 40%, 49%);
        border-radius: 24px;
        box-shadow: 0px 6px 16px rgba(42, 31, 71, 0.3);
        transition: ease 0.3s;
    }

    .button:hover {
        background-color: hsl(300, 69%, 71%);
        color: white;
        text-decoration: none;
    }
    
    a {
        text-decoration: none;    
        color: white;    
    }

    
/* Mobile */

@media screen and (max-width: 830px) {
    
    body {
    background-image: url("images/bg-mobile.svg"); 
    background-repeat: no-repeat;
    background-size: contain;
    }

    .main-logo img{
        max-width: 130px;
    }



    footer {
        display: grid;
        place-content: center;
        justify-content: center;
        align-items: center;
        margin-top: 64px;
    }

    .socials {
        display: block;
        justify-self: center;
        margin-bottom: 64px;                
    }

    .social-icon {
        display: inline-flex;
        border: 1px solid white;
        padding: 5px;
        border-radius: 24px;
        transition: ease 0.3s;
        margin-left: 5px;
        margin-right: 5px;
    }

    .social-icon:hover {
        color: hsl(321, 100%, 66%);
        border: 1px solid hsl(321, 100%, 66%);
        
    }

    .attribution {
        color: white ;
        font-size: 14px;
        display: flex;
        justify-content: center;        
        padding: 0px 16px;
    }

    footer a {
        color:  white;
    }

    a:hover {
        text-decoration: underline;
    }

    .attribution .div-line {
        padding: 0px 8px;
    }

    footer {
        display: grid;
        place-content: center;
        justify-content: center;
        align-items: center;
        margin-top: 64px;
    }

    .socials {
        display: block;
        justify-self: center;
        margin-bottom: 64px;                
    }

    .social-icon {
        display: inline-flex;
        border: 1px solid white;
        padding: 5px;
        border-radius: 24px;
        transition: ease 0.3s;
        margin-left: 5px;
        margin-right: 5px;
    }

    .social-icon:hover {
        color: hsl(321, 100%, 66%);
        border: 1px solid hsl(321, 100%, 66%);
        
    }

    .attribution {
        color: white ;
        font-size: 14px;
        display: flex;
        justify-content: center;        
        padding: 0px 16px;
    }

    footer a {
        color:  white;
    }

    a:hover {
        text-decoration: underline;
    }

    .attribution .div-line {
        padding: 0px 8px;
    }


}


/* Desktop */

@media screen and (min-width: 830px) {
    body {
        background-image: url("images/bg-desktop.svg"); 
        background-repeat: no-repeat;
        background-size: contain;
        display: grid;
        justify-content: center;
    }

    .main-logo img{
        max-width: 200px;
    }

    .hero-image {
        max-width: 100%;        
    }

    main {
        display: flex;        
        align-items: flex-start;
        text-align: left;
    }

    .copy {
        margin-top: 40px;
        margin-left: 56px;
    }

    .body-copy {
        max-width: 520px;
        
    }

    .body-copy h1 {
        font-size: 40px;
        line-height: 60px;
        margin-bottom: 20px;
    }

    .body-copy p {
        font-size: 18px;
        line-height: 28px;        
    }

    .button {
        padding: 18px 64px; 
        border-radius: 40px;
        font-size: 18px; 
        margin-top: 40px;  
        margin-bottom: 64px;         
    }

        
    footer {
        width: 100%;           
        display: grid; 
        margin-top: 64px;    
    }

    .attribution {
        display: inline-flex;
        justify-self: center;        
    }

    .socials {        
        margin-bottom: 64px;  
        display: flex;    
        flex-direction: row;   
        justify-content: flex-end;       
    }

    .social-icon {        
        border: 1px solid white;
        border-radius: 24px;
        transition: ease 0.3s;
        margin-left: 10px;        
        display: inline-flex;
        width: 40px;
        height: 40px;
        padding: 10px;
    }

    .social-icon:hover {
        color: hsl(321, 100%, 66%);
        border: 1px solid hsl(321, 100%, 66%);
        
    }

    footer a {
        color:  white;
    }

    a:hover {
        text-decoration: underline;
    }

    .attribution .div-line {
        padding: 0px 8px;
    }


}